In [1]:
import pandas as pd

In [ ]:
Revenue = 222 
Revenue Growth Factor = 18% of prior period Revenue
EBITDA Margin = 45.0% of current Revenue
Taxes = 21% of current EDBITDA
Capital Expenditure = 3% of current Revenue
Working Capital Increase = 6% of Revenue
EBITDA Exit Multiple = 32.70
Discount Factor = 0.94 (6%)

In [2]:
years = ['2021','2022', '2023', '2024', '2025', '2026', '2027', '2028', '2029','2030','2031','2032']
df = pd.DataFrame(index = years, columns=['Revenue','EBITDA','Taxes','CAPX','NWC','Cash_Flow','Discount_Factor','PV_FCF'])

In [3]:
#Revenue
df['Revenue'][0] = 222
growth_rate = 0.18
for year in range(1, 12):    
    df['Revenue'][year] = df['Revenue'][year-1] * (1 + growth_rate)  
df

          Revenue EBITDA Taxes CAPX  NWC Cash_Flow Discount_Factor PV_FCF
2021          222    NaN   NaN  NaN  NaN       NaN             NaN    NaN
2022       261.96    NaN   NaN  NaN  NaN       NaN             NaN    NaN
2023     309.1128    NaN   NaN  NaN  NaN       NaN             NaN    NaN
2024   364.753104    NaN   NaN  NaN  NaN       NaN             NaN    NaN
2025   430.408663    NaN   NaN  NaN  NaN       NaN             NaN    NaN
2026   507.882222    NaN   NaN  NaN  NaN       NaN             NaN    NaN
2027   599.301022    NaN   NaN  NaN  NaN       NaN             NaN    NaN
2028   707.175206    NaN   NaN  NaN  NaN       NaN             NaN    NaN
2029   834.466743    NaN   NaN  NaN  NaN       NaN             NaN    NaN
2030   984.670757    NaN   NaN  NaN  NaN       NaN             NaN    NaN
2031  1161.911493    NaN   NaN  NaN  NaN       NaN             NaN    NaN
2032  1371.055562    NaN   NaN  NaN  NaN       NaN             NaN    NaN

In [4]:
#EBITDA
ebitda_margin = 0.45
for year in range(0, 12):    
    df['EBITDA'][year] = df['Revenue'][year] * ebitda_margin  
df

          Revenue      EBITDA Taxes CAPX  NWC Cash_Flow Discount_Factor PV_FCF
2021          222        99.9   NaN  NaN  NaN       NaN             NaN    NaN
2022       261.96     117.882   NaN  NaN  NaN       NaN             NaN    NaN
2023     309.1128   139.10076   NaN  NaN  NaN       NaN             NaN    NaN
2024   364.753104  164.138897   NaN  NaN  NaN       NaN             NaN    NaN
2025   430.408663  193.683898   NaN  NaN  NaN       NaN             NaN    NaN
2026   507.882222     228.547   NaN  NaN  NaN       NaN             NaN    NaN
2027   599.301022   269.68546   NaN  NaN  NaN       NaN             NaN    NaN
2028   707.175206  318.228843   NaN  NaN  NaN       NaN             NaN    NaN
2029   834.466743  375.510034   NaN  NaN  NaN       NaN             NaN    NaN
2030   984.670757  443.101841   NaN  NaN  NaN       NaN             NaN    NaN
2031  1161.911493  522.860172   NaN  NaN  NaN       NaN             NaN    NaN
2032  1371.055562  616.975003   NaN  NaN  NaN       NaN             NaN    NaN

In [5]:
#Tax
tax_rate = 0.21
#tax_payment = -ebitda * tax_rate
for year in range(0, 12):    
    df['Taxes'][year] = -df['EBITDA'][year] * tax_rate  
df

,Revenue,EBITDA,Taxes,CAPX,NWC,Cash_Flow,Discount_Factor,PV_FCF
2021,222,99.9,-20.979,NaN,NaN,NaN,NaN,NaN
2022,261.96,117.882,-24.75522,NaN,NaN,NaN,NaN,NaN
2023,309.1128,139.10076,-29.21116,NaN,NaN,NaN,NaN,NaN
2024,364.753104,164.138897,-34.469168,NaN,NaN,NaN,NaN,NaN
2025,430.408663,193.683898,-40.673619,NaN,NaN,NaN,NaN,NaN
2026,507.882222,228.547,-47.99487,NaN,NaN,NaN,NaN,NaN
2027,599.301022,269.68546,-56.633947,NaN,NaN,NaN,NaN,NaN
2028,707.175206,318.228843,-66.828057,NaN,NaN,NaN,NaN,NaN
2029,834.466743,375.510034,-78.857107,NaN,NaN,NaN,NaN,NaN
2030,984.670757,443.101841,-93.051387,NaN,NaN,NaN,NaN,NaN
2031,1161.911493,522.860172,-109.800636,NaN,NaN,NaN,NaN,NaN
2032,1371.055562,616.975003,-129.564751,NaN,NaN,NaN,NaN,NaN

In [6]:
#Capital Expenditures
capex_percent =.03 
#capex = -(Revenue * capex_percent)
for year in range(0, 12):    
    df['CAPX'][year] = -(df['Revenue'][year] *capex_percent )  
df

,Revenue,EBITDA,Taxes,CAPX,NWC,Cash_Flow,Discount_Factor,PV_FCF
2021,222,99.9,-20.979,-6.66,NaN,NaN,NaN,NaN
2022,261.96,117.882,-24.75522,-7.8588,NaN,NaN,NaN,NaN
2023,309.1128,139.10076,-29.21116,-9.273384,NaN,NaN,NaN,NaN
2024,364.753104,164.138897,-34.469168,-10.942593,NaN,NaN,NaN,NaN
2025,430.408663,193.683898,-40.673619,-12.91226,NaN,NaN,NaN,NaN
2026,507.882222,228.547,-47.99487,-15.236467,NaN,NaN,NaN,NaN
2027,599.301022,269.68546,-56.633947,-17.979031,NaN,NaN,NaN,NaN
2028,707.175206,318.228843,-66.828057,-21.215256,NaN,NaN,NaN,NaN
2029,834.466743,375.510034,-78.857107,-25.034002,NaN,NaN,NaN,NaN
2030,984.670757,443.101841,-93.051387,-29.540123,NaN,NaN,NaN,NaN
2031,1161.911493,522.860172,-109.800636,-34.857345,NaN,NaN,NaN,NaN
2032,1371.055562,616.975003,-129.564751,-41.131667,NaN,NaN,NaN,NaN

In [7]:
#Net Working Capital
nwc_percent = 0.06  #Working Capital Increase: 6% of Revenue
#nwc = Revenue * nwc_percent
for year in range(0, 12):    
    df['NWC'][year] = (-df['Revenue'][year] *nwc_percent )  
df

,Revenue,EBITDA,Taxes,CAPX,NWC,Cash_Flow,Discount_Factor,PV_FCF
2021,222,99.9,-20.979,-6.66,-13.32,NaN,NaN,NaN
2022,261.96,117.882,-24.75522,-7.8588,-15.7176,NaN,NaN,NaN
2023,309.1128,139.10076,-29.21116,-9.273384,-18.546768,NaN,NaN,NaN
2024,364.753104,164.138897,-34.469168,-10.942593,-21.885186,NaN,NaN,NaN
2025,430.408663,193.683898,-40.673619,-12.91226,-25.82452,NaN,NaN,NaN
2026,507.882222,228.547,-47.99487,-15.236467,-30.472933,NaN,NaN,NaN
2027,599.301022,269.68546,-56.633947,-17.979031,-35.958061,NaN,NaN,NaN
2028,707.175206,318.228843,-66.828057,-21.215256,-42.430512,NaN,NaN,NaN
2029,834.466743,375.510034,-78.857107,-25.034002,-50.068005,NaN,NaN,NaN
2030,984.670757,443.101841,-93.051387,-29.540123,-59.080245,NaN,NaN,NaN
2031,1161.911493,522.860172,-109.800636,-34.857345,-69.71469,NaN,NaN,NaN
2032,1371.055562,616.975003,-129.564751,-41.131667,-82.263334,NaN,NaN,NaN

In [8]:
#Discount Factor

df['Discount_Factor'] = [(0.94 ** i) for i in range(len(df))]

df

,Revenue,EBITDA,Taxes,CAPX,NWC,Cash_Flow,Discount_Factor,PV_FCF
2021,222,99.9,-20.979,-6.66,-13.32,NaN,1.000000,NaN
2022,261.96,117.882,-24.75522,-7.8588,-15.7176,NaN,0.940000,NaN
2023,309.1128,139.10076,-29.21116,-9.273384,-18.546768,NaN,0.883600,NaN
2024,364.753104,164.138897,-34.469168,-10.942593,-21.885186,NaN,0.830584,NaN
2025,430.408663,193.683898,-40.673619,-12.91226,-25.82452,NaN,0.780749,NaN
2026,507.882222,228.547,-47.99487,-15.236467,-30.472933,NaN,0.733904,NaN
2027,599.301022,269.68546,-56.633947,-17.979031,-35.958061,NaN,0.689870,NaN
2028,707.175206,318.228843,-66.828057,-21.215256,-42.430512,NaN,0.648478,NaN
2029,834.466743,375.510034,-78.857107,-25.034002,-50.068005,NaN,0.609569,NaN
2030,984.670757,443.101841,-93.051387,-29.540123,-59.080245,NaN,0.572995,NaN
2031,1161.911493,522.860172,-109.800636,-34.857345,-69.71469,NaN,0.538615,NaN
2032,1371.055562,616.975003,-129.564751,-41.131667,-82.263334,NaN,0.506298,NaN

In [9]:
#Cash flow 
#Cash_Flow=ebit + tax + capex + change_in_nwc

for year in range(0, 12):    
    df['Cash_Flow'][year] = (df['EBITDA'][year] + df['Taxes'][year] + df['CAPX'][year]+ df['NWC'][year])  
df

<ipython-input-9-092ff4f53698>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Cash_Flow'][year] = (df['EBITDA'][year] + df['Taxes'][year] + df['CAPX'][year]+ df['NWC'][year])

,Revenue,EBITDA,Taxes,CAPX,NWC,Cash_Flow,Discount_Factor,PV_FCF
2021,222,99.9,-20.979,-6.66,-13.32,58.941,1.000000,NaN
2022,261.96,117.882,-24.75522,-7.8588,-15.7176,69.55038,0.940000,NaN
2023,309.1128,139.10076,-29.21116,-9.273384,-18.546768,82.069448,0.883600,NaN
2024,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,0.830584,NaN
2025,430.408663,193.683898,-40.673619,-12.91226,-25.82452,114.2735,0.780749,NaN
2026,507.882222,228.547,-47.99487,-15.236467,-30.472933,134.84273,0.733904,NaN
2027,599.301022,269.68546,-56.633947,-17.979031,-35.958061,159.114421,0.689870,NaN
2028,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,0.648478,NaN
2029,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.55092,0.609569,NaN
2030,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,0.572995,NaN
2031,1161.911493,522.860172,-109.800636,-34.857345,-69.71469,308.487501,0.538615,NaN
2032,1371.055562,616.975003,-129.564751,-41.131667,-82.263334,364.015252,0.506298,NaN

In [10]:
#Present value = discount factor * Cash flows
for year in range(0, 12):    
    df['PV_FCF'][year] = (df['Discount_Factor'][year] * df['Cash_Flow'][year])  
df

<ipython-input-10-179b6dfe82af>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PV_FCF'][year] = (df['Discount_Factor'][year] * df['Cash_Flow'][year])

,Revenue,EBITDA,Taxes,CAPX,NWC,Cash_Flow,Discount_Factor,PV_FCF
2021,222,99.9,-20.979,-6.66,-13.32,58.941,1.000000,58.941
2022,261.96,117.882,-24.75522,-7.8588,-15.7176,69.55038,0.940000,65.377357
2023,309.1128,139.10076,-29.21116,-9.273384,-18.546768,82.069448,0.883600,72.516565
2024,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,0.830584,80.435373
2025,430.408663,193.683898,-40.673619,-12.91226,-25.82452,114.2735,0.780749,89.218916
2026,507.882222,228.547,-47.99487,-15.236467,-30.472933,134.84273,0.733904,98.961622
2027,599.301022,269.68546,-56.633947,-17.979031,-35.958061,159.114421,0.689870,109.768231
2028,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,0.648478,121.754922
2029,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.55092,0.609569,135.050559
2030,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,0.572995,149.79808
2031,1161.911493,522.860172,-109.800636,-34.857345,-69.71469,308.487501,0.538615,166.156031
2032,1371.055562,616.975003,-129.564751,-41.131667,-82.263334,364.015252,0.506298,184.300269

In [11]:
#Terminal value = EBITDA Exit Multiple * df['EBITDA'].iloc[2031]
EDBITA_exit_multiple= 32.70
TerminalValue= EDBITA_exit_multiple * df['EBITDA'][-1]
TerminalValue

20175.082590019254

In [12]:
#Sum of PV_FCF
Sum_of_PV_FCF=df.PV_FCF[1:-1].sum()
Sum_of_PV_FCF

1089.037656673089

In [13]:
PV_terminal_value = TerminalValue * df.Discount_Factor[-2]
PV_terminal_value

10866.604411097238

In [14]:
present_value_of_asset = Sum_of_PV_FCF + PV_terminal_value
present_value_of_asset

11955.642067770326

In [15]:
statement = f"""
Our projected Present Value of Projected Future Cash Flows are: {Sum_of_PV_FCF:.2f}.

We are providing revenue guidance in 2032 to be: {df.loc["2032", "Revenue"].values[0]:.2f}

With an estimated EBITDA around: {df.loc["2032", "EBITDA"][0]:.2f}.

The terminal value a this time given a multiple of {EDBITA_exit_multiple:.2f} and the above EBITDA for 2030, would equal: {PV_terminal_value:.2f}.

"""

print(statement)

AttributeError: 'float' object has no attribute 'values'